In [34]:
import pandas as pd
import numpy as np
import pickle

In [35]:
df = pickle.load(open('final_data.pkl','rb'))

In [36]:
df

,batting_team,bowling_team,city,curr_score,balls_left,wickets_left,crr,last_five_runs,runs_x
62720,Mumbai Indians,Sunrisers Hyderabad,Sharjah,48,85,8,8.228571,42.0,208
71442,Chennai Super Kings,Mumbai Indians,Mumbai,49,87,8,8.909091,44.0,180
62154,Pune Warriors,Royal Challengers Bangalore,Pune,111,32,7,7.568182,45.0,157
25599,Chennai Super Kings,Delhi Capitals,Johannesburg,56,80,8,8.400000,40.0,163
89501,Mumbai Indians,Sunrisers Hyderabad,Mumbai,110,33,6,7.586207,45.0,157
...,...,...,...,...,...,...,...,...,...
27251,Royal Challengers Bangalore,Chennai Super Kings,Bengaluru,138,40,8,10.350000,64.0,205
78175,Kings XI Punjab,Rajasthan Royals,Chandigarh,128,46,8,10.378378,38.0,195
28596,Chennai Super Kings,Rajasthan Royals,Jaipur,139,20,7,8.340000,30.0,176
84773,Pune Warriors,Royal Challengers Bangalore,Bangalore,131,35,7,9.247059,46.0,182
14462,Mumbai Indians,Kolkata Knight Riders,Mumbai,77,54,10,7.000000,36.0,170

In [37]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

In [38]:
trf = ColumnTransformer([
    ('trf',OneHotEncoder(sparse_output=False,drop='first'),['batting_team','bowling_team','city'])
]
,remainder='passthrough')

In [39]:
from sklearn.preprocessing import StandardScaler
from sklearn.pipeline import Pipeline
from xgboost import XGBRegressor
from sklearn.model_selection import train_test_split
from sklearn.svm import SVC

In [40]:
X=df.drop(columns=['runs_x'])
y=df['runs_x']

In [41]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=3)

In [42]:
pipe= Pipeline(steps=[
    ('step1',trf),
    ('step2',StandardScaler()),
    ('step3',XGBRegressor(n_estimators=500,learning_rate=0.2,max_depth=12,random_state=1))
])

In [43]:
from sklearn.metrics import r2_score,accuracy_score,mean_absolute_error

In [44]:
pipe.fit(X_train,y_train)
y_pred = pipe.predict(X_test)

In [45]:
print(r2_score(y_test,y_pred))
print(mean_absolute_error(y_test,y_pred))

0.9689000844955444
2.5688650938664224

In [46]:
pickle.dump(pipe,open('final_model.pkl','wb'))